@{
    Layout = null;
}
<div class="sidebar-nav well">
    <ul class="nav nav-list">
        @*@foreach (var departamento in ViewBag.Departamentos)
        {
            <li class="nav-header">@departamento.Nome</li>
            foreach (var categoria in departamento.Categorias)
            {
                <li>@categoria.Nome</li>
            }
        }*@
        <li class="nav-header">Pai 1</li>
        <li>Filho 1</li>
        <li>Filho 1</li>
        <li>Filho 1</li>
        <li>Filho 1</li>
        <li class="nav-header">Pai 2</li>
        <li>Filho 2</li>
        <li>Filho 2</li>
        <li>Filho 2</li>
        <li>Filho 2</li>
        <li class="nav-header">Pai 1</li>
        <li>Filho 1</li>
        <li>Filho 1</li>
        <li>Filho 1</li>
        <li>Filho 1</li>
        <li class="nav-header">Pai 2</li>
        <li>Filho 2</li>
        <li>Filho 2</li>
        <li>Filho 2</li>
        <li>Filho 2</li>

    </ul>
</div>


